*{
	margin:0;
	padding:0;
}
main{
	border:1px solid red;
	width:500px;
	height:300px;
}
.one{
	width:100px;
	height:100px;
	background:blue;
	float:left;
}
.two{
	width:100px;
	height:100px;
	background:yellow;
	float:right;
}